<h4 style="margin-left: 30px;">{{data}}</h4>
<div class="container w-50 mt-5 ">
    
    <form action="" class="border  p-5 text-white " style="border-radius:20px;background-color: rgba(0, 0, 0, 0.3);">
        <h2 class="text-center">Sign in to your account</h2>
        <div class="mt-2 p-2 fw-bold fs-5">
            <label for="a1">Account number</label>
            <input #acno type="text " id="acid" name="acnum1" [class]="iclass">
        </div>
        <div class="mt-2 p-2 fw-bold fs-5">
            <label for="c1">Password</label>
            <input #psw  type="password" id="psw1" name="paswrd1" class="form-control  ">
        </div>
        <div class="mt-2 p-2 text-center fw-bold">
            <button type="button" (click)="login(acno,psw)" class="btn btn-outline-light"  style="width: 100px;">login</button>
         

        </div>
    </form>
</div>

